In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('credit_card_data-headers.txt',delim_whitespace=True)
dataset.head()

   A1     A2     A3    A8  A9  A10  A11  A12  A14  A15  R1
0   1  30.83  0.000  1.25   1    0    1    1  202    0   1
1   0  58.67  4.460  3.04   1    0    6    1   43  560   1
2   0  24.50  0.500  1.50   1    1    0    1  280  824   1
3   1  27.83  1.540  3.75   1    0    5    0  100    3   1
4   1  20.17  5.625  1.71   1    1    0    1  120    0   1

In [3]:
x=dataset.iloc[:,[0,1,2,3,4,5,6,7,8,9]].values
y=dataset.iloc[:,10]

In [4]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

scaler.fit(x)
x=scaler.fit_transform(x)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25)

# Training the model using the cross validation technique

In [11]:
from sklearn import svm, neighbors
svmclassifier=svm.SVC(kernel='linear')
knnclassifier=neighbors.KNeighborsClassifier(n_neighbors=5)

In [12]:
from sklearn.model_selection import cross_val_score

In [13]:
cross_val_score(knnclassifier,x_train,y_train,cv=10)

array([0.82      , 0.78      , 0.89795918, 0.79591837, 0.87755102,
       0.87755102, 0.7755102 , 0.79591837, 0.8125    , 0.91666667])

In [14]:
knnclassifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [15]:
y_pred=knnclassifier.predict(x_test)

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

cm

In [17]:
cm

array([[69, 11],
       [13, 71]], dtype=int64)

In [10]:
cross_val_score(svmclassifier,x_train,y_train,cv=10)

array([0.82      , 0.74      , 0.87755102, 0.7755102 , 0.87755102,
       0.91836735, 0.81632653, 0.83673469, 0.875     , 0.9375    ])

In [ ]:
# here we have scores for the SVM and The KNN both. We select the model whose average score is higher.